
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAll</h2>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/Empleado/CRUD.js"></script>
<div class="container">
    <table id="tablaEmpleados" class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Editar</th>
                <th>Nombre</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
